label {
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
}

button {
  margin-top: 20px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background-color: bisque;
}

button:disabled {
  cursor: auto;
}

hr {
  border-top: 2px dotted brown;
}